<!DOCTYPE html>
<html lang="en">

<head>
  <title>Résumé</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <h1>Résumé</h1>
    <h3>SUMMARY</h3>
    <p>Passionate front-end web developer with 3 years of experience using JavaScript, HTML5, CSS, Bootstrap and Javascript frameworks to build the users experience and user interface for client-facing webpages. Specializes in React, HTML, Bootstrap,
      and CSS</p>
    <hr>
    <h3>Technical Skills</h3>
    <ul>
      <li>Front-end</li>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Bootstrap 4</li>
        <li>JavaScript</li>
        <li>Jquerry</li>
        <li>Embedded JavaScript</li>
        <li>REACT</li>
      </ul>
      <li>Other</li>
      <ul>
        <li>Git</li>
        <li>GitHub</li>
      </ul>
    </ul>
    <h3>Work Experience</h3>
    Operations Summer Intern, Benetech | Palo Alto, California | 2019 - 2019
    <ul>
      <li>Created more than 20 landing pages in HTML5, CSS3, and Bootstrap 4</li>
      <li>Implemented CSS/Bootstrap to design multiple responsive web pages</li>
      <li>Maintained front-end code and documentation standards</li>
    </ul>
    <hr>
    <h3>Education</h3>
    <div class="row">
      <div class="col-md-2">
        Expected in 06/2020
      </div>
      <div class="col-md-10">
        <p><b>High School Diploma</b>
          <br>
          <b>Fusion Academy</b> - Palo Alto</p>
      </div>
    </div>
  </div>
</body>

</html>